<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List Chef Pro</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="box">

        <h1>Todo List</h1>

        <form id="formulario">
            <input type="text" class="titulo" placeHolder="Titulo" required>
            <input type="text" class="descricao" placeHolder="Descrição" required>
            <input type="text" class="status" placeHolder="Status" required>
            <input type="text" class="prioridade" placeHolder="Prioridade(1,2,3...10)" required>
            <button type="submit">Cadastrar</button>
        </form>

    </div>

    <script src="./js/main.js"></script>
</body>
</html>